<table class="border-collapse border-2 border-white w-full text-sm">
    <thead>
        <tr class="bg-gray-800 text-white">
            <th class="border-2 border-white px-4 py-2 text-center">ID</th>
            <th class="border-2 border-white px-4 py-2 text-center">Nome</th>
            <th class="border-2 border-white px-4 py-2 text-center">Email</th>
            <th class="border-2 border-white px-4 py-2 text-center">Endereço</th>
            <th class="border-2 border-white px-4 py-2 text-center">Permissão Admin.</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="usuario : ${usuarios}" class="hover:bg-gray-500 odd:bg-gray-700 text-white">
            <td th:text="${usuario.idUsuario}" class="border-2 border-white px-4 py-2 text-center"></td>
            <td th:text="${usuario.nome}" class="border-2 border-white px-4 py-2 text-center"></td>
            <td th:text="${usuario.email}" class="border-2 border-white px-4 py-2 text-center"></td>
            <td th:text="${usuario.endereco}" class="border-2 border-white px-4 py-2 text-center"></td>
            <td th:text="${usuario.permissaoAdmin} == 's' ? 'Sim' : 'Não'" class="border-2 border-white px-4 py-2 text-center"></td>
        </tr>
    </tbody>
</table>

<div class="text-white my-2">
    <a th:if="${pageUsuarios.hasPrevious()}" class="font-bold cursor-pointer" onclick="carregarPaginaAnterior()">Anterior - </a>
    
    Página <span th:text="${pageUsuarios.number + 1}"></span> de <span th:text="${pageUsuarios.totalPages}"></span>
    
    <a th:if="${pageUsuarios.hasNext()}" class="font-bold cursor-pointer" onclick="carregarProximaPagina()"> - Próxima</a>

    <div th:text="${nextPageUrl}" id="nextPageUrl" class="hidden"></div>
    <div th:text="${previousPageUrl}" id="previousPageUrl" class="hidden"></div>
</div>

<script src="https://unpkg.com/htmx.org"></script>
<script>
    async function carregarProximaPagina() {
        const url = document.getElementById("nextPageUrl").textContent;

        htmx.ajax('GET', url, {
            target: '#usuarios-container'
        });   
    }

    async function carregarPaginaAnterior() {
        const url = document.getElementById("previousPageUrl").textContent;

        htmx.ajax('GET', url, {
            target: '#usuarios-container'
        });   
    }
</script>
