<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carregar Modelos</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <h1>Bem-vindo</h1>
    <button hx-get="/modelos/html" hx-target="#modelos-container">Carregar Modelos</button>

    <div id="modelos-container">

    </div>
</body>
</html>
