<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carregar Modelos</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col items-center justify-center bg-[#2b3137]">
    <nav class="border-b-2 border-white text-white flex items-center justify-center h-18 w-full bg-gray-600">
        <a href="/pages/usuarios" class="font-bold mx-8 p-4 hover:border-2 hover:border-gray-700 rounded transition-all">👨‍💼 Usuários</a>
        <a href="/pages/modelos" class="font-bold mx-8 p-4 hover:border-2 hover:border-gray-700 rounded transition-all">💻 Computadores</a>
        <a href="/pages/vendas" class="font-bold mx-8 p-4 hover:border-2 hover:border-gray-700 rounded transition-all">🏪 Vendas</a>
    </nav>
    <h1 class="text-3xl font-bold my-4 text-white">Sistema de Gerenciamento de Modelos de PC 💻</h1>

    <h2 class="text-xl font-bold text-white">Modelos disponíveis</h1>
    <div id="modelos-container" class="my-2" hx-get="/pages/fragment/lista-modelos" hx-trigger="load" hx-swap="innerHTML"></div>

    <div class="flex flex-col justify-center items-center w-80 my-2">
        <button id="addPcButton" onclick="abrirModal('add')" class="border-2 bg-green-700 rounded p-2 my-2 w-full text-white font-bold mx-10">
            Adicionar PC
        </button>
        <button id="editPcButton" onclick="abrirModal('edit')" class="border-2 bg-yellow-700 rounded p-2 my-2 w-full text-white font-bold mx-10">
            Editar PC
        </button>
        <button id="deletePcButton" onclick="abrirModal('delete')" class="border-2 bg-red-700 rounded p-2 my-2 w-full text-white font-bold mx-10">
            Remover PC
        </button>
    </div>
    <dialog id="addModal" class="w-96 h-auto flex-col p-4 rounded bg-gray-800">
        <h2 class="text-xl font-bold mb-4 text-white">Adicionar Novo Modelo</h2>
        <form id="addForm" class="flex flex-col gap-2">
            <input type="text" id="nomeInput" placeholder="Nome do Modelo" class="border p-2 rounded" required>
            <input type="text" id="cpuInput" placeholder="Processador" class="border p-2 rounded" required>
            <input type="number" id="ramInput" placeholder="RAM (GB)" class="border p-2 rounded" required>
            <input type="number" id="ssdInput" placeholder="Armazenamento SSD (GB)" class="border p-2 rounded" required>
            <input type="number" id="precoInput" placeholder="Preço (R$)" class="border p-2 rounded" required>
        </form>
        <div class="flex flex-row justify-center gap-4 mt-4">
            <button onclick="adicionarModelo()" class="border-2 border-white bg-green-700 rounded p-2 text-white font-bold">
                Adicionar
            </button>
            <button onclick="fecharModal('add')" class="border-2 border-white bg-red-700 rounded p-2 text-white font-bold">
                Cancelar
            </button>
        </div>
    </dialog>
    

    <dialog id="deleteModal" class="w-96 h-auto flex-col p-4 rounded bg-gray-800">
        <h2 class="text-xl font-bold mb-4 text-white">Remover Modelo</h2>
        <form id="editForm" class="flex flex-col gap-2">
            <input type="text" id="idInput" placeholder="ID do Modelo" class="border p-2 rounded" required>
            <div class="flex flex-row justify-center w-96 my-2">
                <button  onclick="deletarModelo()" class="border-2 border-white bg-green-700 rounded p-2 text-white font-bold mx-10">
                    Remover
                </button>
                <button onclick="fecharModal('delete')" class="border-2 border-white bg-red-700 rounded p-2 text-white font-bold mx-10">
                    Cancelar
                </button>
            </div>
        </form>
    </dialog>

    <dialog id="editModal" class="w-96 h-auto flex-col p-4 rounded">
        <h2 class="text-xl font-bold mb-4 text-white">Editar Modelo</h2>
        <form id="editForm" class="flex flex-col gap-2">
            <input type="text" id="editIdInput" placeholder="ID do Modelo" class="border p-2 rounded" required>
            <input type="text" id="editNomeInput" placeholder="Nome do Modelo" class="border p-2 rounded">
            <input type="text" id="editCpuInput" placeholder="Processador" class="border p-2 rounded">
            <input type="number" id="editRamInput" placeholder="RAM (GB)" class="border p-2 rounded">
            <input type="number" id="editSsdInput" placeholder="Armazenamento SSD (GB)" class="border p-2 rounded">
            <input type="number" id="editPrecoInput" placeholder="Preço (R$)" class="border p-2 rounded">
        </form>
        <div class="flex flex-row justify-center gap-4 mt-4">
            <button onclick="editarModelo()" class="border-2 border-white bg-green-700 rounded p-2 text-white font-bold">
                Salvar Alterações
            </button>
            <button onclick="fecharModal('edit')" class="border-2 border-white bg-red-700 rounded p-2 text-white font-bold">
                Cancelar
            </button>
        </div>
    </dialog>
    
    <script src="/js/modelos.js"></script>
</body>
</html>
